/** Setting default dimensions/features for the god costumized select boxes **/
/* BEGIN STRUCTURE */
div.godselect * {
  user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
}
div.godselect {
  cursor: pointer;
  margin: 0;
  letter-spacing: 1px;
  z-index: 0;
}
div.godselect > ul.options {
   padding: 0; 
}

div.godselect, div.godselect > ul.options {
  width: 180px;
  border-radius: 2px;
}
div.godselect input {
  margin: 0;
  padding: 0;
  text-indent: 2px;
  background-color: transparent;
  border-width: 0px;
  width: 100%;
  cursor: pointer;
  background-image: url('../img/white_arrowt-02.svg');
  background-position: 95% center;
  background-repeat: no-repeat;
}
div.godselect input:focus {
  outline: 0;
}
div.godselect ul {
  list-style: none;
  padding: 0;
  border-radius: 0;
  border-top-width: 0px;
}
div.godselect > ul {
  list-style: none;
  padding: 0;
  border-radius: 0;
  border-top-width: 0px;
  max-height: 200px;
  overflow: auto;
  position: absolute;
  display: none;
  z-index: 1;
}

div.godselect ul li {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;

}
div.godselect .visible {
  display: block;
  z-index: 999;
}
/* END STRUCTURE */
/** Default classes for the god costumized select boxes **/
/* BEGIN DEFAULT */
div.godselect,
div.godselect ul {
  background-color: darkgrey;
  font-weight: 200;
  color: white;
  text-transform: uppercase;
}
div.godselect ul ul {
  width: auto;
  position: static;
}
div.godselect li {
  margin: 1px;
  padding: 1px;
  border-radius: 1px;
}
div.godselect ul ul {
  padding: 1px 1px;
}
div.godselect ul ul li {
  margin: 1px 0px 0px 0px;
  padding: 1px;
  border-radius: 1px;
}
div.godselect ul li ul > li:nth-child(1) {
  margin-top:0px;
}
div.godselect ul li:hover,
div.godselect ul li.selected {
  background-color: lightgrey;
}
/* END DEFAULT */

body {
    margin:10px;
}
div.godselect {
    padding: 2px;
}
div.godselect, div.godselect ul {
    background-color:#afd9ee;
}
div.godselect-focus, div.godselect-focus ul {
    background-color:#3276b1 !important;
}
div.godselect ul li:hover,
div.godselect ul li.selected {
  background-color:#afd9ee;
}